body {
	margin-left: 20px;
	margin-right: 20px;
	font-family: 'Lato', 'Noto Sans', Georgia, "Palatino Linotype", Arial, sans-serif;
	background: lightsteelblue;
}

.flexColContainer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
}

.flexcol4 {
	flex-grow: 1;
	flex-basis: 25%;
}

.flexcol5 {
	flex-grow: 1;
	flex-basis: 20%;
}

.centerText {
	text-align: center;
}

#topContainer {
	width: 100%;
}
