body {
	margin-left: 20px;
	margin-right: 20px;
	font-family: 'Lato', 'Noto Sans', Georgia, "Palatino Linotype", Arial, sans-serif;
	// font-family: 'Noto Sans', Georgia, "Palatino Linotype", Times, serif;
	background: #e6e6e6;
}

.colFlex {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-start;
}

.flexChild4 {
	flex: 0 1 1;
}
