body {
	margin-left: 20px;
	margin-right: 20px;
	font-family: 'Open Sans', 'Lato', Arial, sans-serif;
	font-size: 1.0em;
	background: lightsteelblue;
}

.flex-col-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
}

.flex-col2 {
	flex-grow: 1;
	flex-basis: 50%;
}

.flex-col4 {
	flex-grow: 1;
	flex-basis: 25%;
}

.flex-col5 {
	flex-grow: 1;
	flex-basis: 20%;
}

.flex-col6 {
	flex-grow: 1;
	flex-basis: 16%;
}

.center-text {
	text-align: center;
}

#topContainer {
	width: 100%;
}
